In [2]:
import pandas as pd

In [8]:
url = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/refs/heads/master/concrete.csv")

In [9]:
url

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [14]:
url.columns

Index(['cement', 'slag', 'ash', 'water', 'superplastic', 'coarseagg',
       'fineagg', 'age', 'strength'],
      dtype='object')

In [15]:
url.info

<bound method DataFrame.info of       cement   slag    ash  water  superplastic  coarseagg  fineagg  age  \
0      540.0    0.0    0.0  162.0           2.5     1040.0    676.0   28
1      540.0    0.0    0.0  162.0           2.5     1055.0    676.0   28
2      332.5  142.5    0.0  228.0           0.0      932.0    594.0  270
3      332.5  142.5    0.0  228.0           0.0      932.0    594.0  365
4      198.6  132.4    0.0  192.0           0.0      978.4    825.5  360
...      ...    ...    ...    ...           ...        ...      ...  ...
1025   276.4  116.0   90.3  179.6           8.9      870.1    768.3   28
1026   322.2    0.0  115.6  196.0          10.4      817.9    813.4   28
1027   148.5  139.4  108.6  192.7           6.1      892.4    780.0   28
1028   159.1  186.7    0.0  175.6          11.3      989.6    788.9   28
1029   260.9  100.5   78.3  200.6           8.6      864.5    761.5   28

      strength
0        79.99
1        61.89
2        40.27
3        41.05
4        44.30
...        ...
1025     44.28
1026     31.18
1027     23.70
1028     32.77
1029     32.40

[1030 rows x 9 columns]>

In [16]:
url.head()

   cement   slag  ash  water  superplastic  coarseagg  fineagg  age  strength
0   540.0    0.0  0.0  162.0           2.5     1040.0    676.0   28     79.99
1   540.0    0.0  0.0  162.0           2.5     1055.0    676.0   28     61.89
2   332.5  142.5  0.0  228.0           0.0      932.0    594.0  270     40.27
3   332.5  142.5  0.0  228.0           0.0      932.0    594.0  365     41.05
4   198.6  132.4  0.0  192.0           0.0      978.4    825.5  360     44.30

In [19]:
url.dtypes

cement          float64
slag            float64
ash             float64
water           float64
superplastic    float64
coarseagg       float64
fineagg         float64
age               int64
strength        float64
dtype: object

In [20]:
url.tail

<bound method NDFrame.tail of       cement   slag    ash  water  superplastic  coarseagg  fineagg  age  \
0      540.0    0.0    0.0  162.0           2.5     1040.0    676.0   28
1      540.0    0.0    0.0  162.0           2.5     1055.0    676.0   28
2      332.5  142.5    0.0  228.0           0.0      932.0    594.0  270
3      332.5  142.5    0.0  228.0           0.0      932.0    594.0  365
4      198.6  132.4    0.0  192.0           0.0      978.4    825.5  360
...      ...    ...    ...    ...           ...        ...      ...  ...
1025   276.4  116.0   90.3  179.6           8.9      870.1    768.3   28
1026   322.2    0.0  115.6  196.0          10.4      817.9    813.4   28
1027   148.5  139.4  108.6  192.7           6.1      892.4    780.0   28
1028   159.1  186.7    0.0  175.6          11.3      989.6    788.9   28
1029   260.9  100.5   78.3  200.6           8.6      864.5    761.5   28

      strength
0        79.99
1        61.89
2        40.27
3        41.05
4        44.30
...        ...
1025     44.28
1026     31.18
1027     23.70
1028     32.77
1029     32.40

[1030 rows x 9 columns]>

In [10]:
import csv as pn

In [22]:
url.describe()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [23]:
url.dtypes == "object"

cement          False
slag            False
ash             False
water           False
superplastic    False
coarseagg       False
fineagg         False
age             False
strength        False
dtype: bool

In [31]:
url.dtypes[url.dtypes == "object"]

Series([], dtype: object)

In [32]:
# to get the index 
url.dtypes[url.dtypes == "object"].index

Index([], dtype='object')

In [36]:
url.dtypes[url.dtypes[url.dtypes == "object"].index]

Series([], dtype: object)

In [40]:
url.shape

(1030, 9)

In [41]:
url

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [48]:
url["new columns"]= "pw skills"

In [49]:
url

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength,new columns
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99,pw skills
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89,pw skills
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27,pw skills
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05,pw skills
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30,pw skills
...,...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28,pw skills
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18,pw skills
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70,pw skills
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77,pw skills
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40,pw skills

In [51]:
url["New row"] =  1031

In [52]:
url

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength,new columns,New row
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99,pw skills,1031
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89,pw skills,1031
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27,pw skills,1031
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05,pw skills,1031
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30,pw skills,1031
...,...,...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28,pw skills,1031
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18,pw skills,1031
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70,pw skills,1031
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77,pw skills,1031
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40,pw skills,1031

In [50]:
url.shape

(1030, 10)

In [56]:
pd.Categorical(url['pclass'])

KeyError: 'pclass'

In [ ]:
pd['pclass'].unque

In [13]:
# write a code csv file

import csv

student = [
    ['Name', 'Course', 'Fees'],
    ['Gunjan', 'Bsc', 10000],
    ['Gudiya', 'Bsc', 10000],
    ['Reshma', 'Bsc', 10000]
]

# stape 2
with open("student_Details.csv", 'w') as f:
    write = csv.writer(f)
    for row in student:
        write.writerow(row)

In [42]:
url[0:100]

    cement   slag  ash  water  superplastic  coarseagg  fineagg  age  strength
0    540.0    0.0  0.0  162.0           2.5     1040.0    676.0   28     79.99
1    540.0    0.0  0.0  162.0           2.5     1055.0    676.0   28     61.89
2    332.5  142.5  0.0  228.0           0.0      932.0    594.0  270     40.27
3    332.5  142.5  0.0  228.0           0.0      932.0    594.0  365     41.05
4    198.6  132.4  0.0  192.0           0.0      978.4    825.5  360     44.30
..     ...    ...  ...    ...           ...        ...      ...  ...       ...
95   425.0  106.3  0.0  153.5          16.5      852.1    887.1    7     49.20
96   425.0  106.3  0.0  151.4          18.6      936.0    803.7    7     46.80
97   375.0   93.8  0.0  126.6          23.4      852.1    992.6    7     45.70
98   475.0  118.8  0.0  181.1           8.9      852.1    781.5    7     55.60
99   469.0  117.2  0.0  137.8          32.2      852.1    840.5    7     54.90

[100 rows x 9 columns]

In [65]:
df = url.shape